/*
Author: Hayden Pfeiffer;
Description: This is the main css file for the "The Universe" project;
*/
* {
	font-family: "Courier New";
}
body {
	position: relative;
	color: red;

}

a {
	color: #89cff0;
	
}

ul {
	width: 300px;
}
#Title {
	font-size: 60px;
	font-family: sans-serif;
	color: white;
	background-image: -webkit-linear-gradient(left, rgba(5, 16, 48, 0.5), rgba(192, 72, 53, 0.5));
	text-align: center;
	width: 7em;
	margin: auto;
	position: relative;
	border-radius: 10px;
}

.menus {
	border-radius: 10px;
	
}
#Menu_icon {
	background-image: url("menuIcon.jpg");
	width: 120px;
	height: 120px;
	opacity: 0.7;
	position: fixed;
	top: 10px;
}

#Menu_list {
	display: none;
	background-image: url("Menu.jpg");
	width: 360px;
	height: 720px;
	opacity: 0.7;
	position: fixed;
	top: 10px;
	left: -230px;
}

#Home_Button {
	position: fixed;
	width: 360px;
	height: 120px;
}

#Menu_Elements {
	position: fixed;
	top: 100px;
	font-size: 36px;
	
}




#Video_Background {
	position: fixed;
	text-align: center;
	top: 200px;
	left: 468px;
	border-radius: 10px;
	background-color: rgba(192, 72, 53, 0.5);
	height: 450px;
	width: 600px;
	font-size: 40px;
	color: #89cff0;
}
#featured_video {
	position: fixed;
	left: 483px;
	top: 300px;
}

