/*
Author: Hayden Pfeiffer;
Description: This is the main css file for the Syncify Platform;
*/
html, body, .row, .btn-primary, .vertical-spacing{
	background-color: #428bca;

}
.sync-link {
	color: white;
}

.vertical-spacing {
	height: 100px;
}