<!DOCTYPE html>
<html>
<head>
	<title>SYNCIFY</title>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mainCSS.css') }}">

	<!--<meta name="google-signin-client_id" content="70634799240-s0idikr1bfivj820b8e1du501kg7r6ci.apps.googleusercontent.com">-->

	<!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

	 <!--<script type="text/javascript" method="POST">-->
	 <!--function onSignIn(googleUser) {-->
  		<!--var profile = googleUser.getBasicProfile();-->
		<!--console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.-->
		<!--console.log('Name: ' + profile.getName());-->
		<!--console.log('Image URL: ' + profile.getImageUrl());-->
		<!--console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.-->
		<!--$.ajax({-->
			<!--url: '/getGmail',-->
			<!--type: 'POST',-->
			<!--data: JSON.stringify(profile.getEmail()),   // converts js value to JSON string-->
			<!--contentType: 'application/json;charset=UTF-8',-->
			<!--success: function(response) {-->
				<!--console.log(response) },-->

			<!--error: function(error) {-->
				<!--console.log(error); }-->
			<!--})-->

		<!--}-->


     <!--</script>-->




</head>
<body>

	<h1 id="Title">Welcome to Syncify</h1>

	<script type="text/javascript">
		function syncLog() {
			console.log("SYNCED")
		}
	</script>
	<a href="/sync" onclick="syncLog">SYNC MUSIC</a>

	<div class="g-signin2" data-onsuccess="onSignIn"></div>

	<form action="/getGmail" method="POST">
		<input type="text" name="gmail">
		<input type="password" name="password">
		<input type="submit">

	</form>




	</form>
</body>
</html>